body {
  font-family: 'Merriweather', serif;
  
  max-width: 1200px;
  @media only screen and (min-width: 60.0625em) {
    padding: 0 12vw;
  }
}

.header {
  display: flex;
  justify-content: center;
}

.input--games {
  max-width: 3rem;
}

.graph {
  width: 100%;
  height: 70vh;
}

.content {
  padding: 0 16%;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}