body {
  font-family: 'Merriweather', serif;
  
  max-width: 1200px;
  @media only screen and (min-width: 60.0625em) {
    padding: 0 12vw;
  }
}

.center {
  display: flex;
  justify-content: center;
}