---
title: Graphing the Pros
---
<header class="header">
  <h1>Graphing the Pros</h1>
</header>

<div class="filters">
  <div>
    <div>
      <label for="Min Games">Min Games:</label>
      <input name="Min Games" type="number" class="input--games js-min-games js-input" value="20" />
    </div>
    <div>
      <label for="Max Games">Max Games:</label>
      <input name="Max Games" type="number" class="input--games js-max-games js-input" value="250" />
    </div>
  </div>
  
  <div>
    <lable for="Sort by">Sort by</lable>
    <select class="js-sort">
      <option value="player" class="js-sort-option">Player</option>
      <option value="role" class="js-sort-option">Role</option>
      <option value="team" class="js-sort-option">Team</option>
      <option value="region" class="js-sort-option">Region</option>
    </select>
  </div>
</div>

<section id="graphing-the-pros" class="graph"></section>

<section class="content">
  <div>See how the pros fare in Korean solo queue. Made with data from <a href="https://www.trackingthepros.com/bootcamp">Tracking the Pros.</a></div>
</section>

<footer class="footer">
  <a href="https://github.com/markjanzer/graphing-the-pros"><%= image_tag "GitHub-Mark-32px.png" %></a>
</footer>

<script>
  var data = <%= config[:pro_data].to_json %>
  var updatedAt = <%= Time.now.to_i %>
</script>

<%= javascript_include_tag "site" %>